'use strict';
import { expect } from 'chai';
import { {{packageName}} } from '../index';

let macVersion: number = 1;
let spaceId: number = {{testSpaceId}};
let userId: number = {{testUserId}};
let apiSecret: string = '{{{testApiSecret}}}';

let config = {
    mac_version: macVersion,
    space_id: spaceId,
    user_id: userId,
    api_secret: apiSecret
}

// Transaction Service
let transactionService: {{packageName}}.api.TransactionService = new {{packageName}}.api.TransactionService(config);

// TransactionPaymentPage Service
let transactionPaymentPageService: {{packageName}}.api.TransactionPaymentPageService = new {{packageName}}.api.TransactionPaymentPageService(config);

// TransactionPaymentPage Service
let paymentMethodService: {{packageName}}.api.PaymentMethodService = new {{packageName}}.api.PaymentMethodService(config);

// default line item for tests
let lineItem: {{packageName}}.model.LineItemCreate = new {{packageName}}.model.LineItemCreate();
lineItem.name='Red T-Shirt';
lineItem.uniqueId='5412';
lineItem.sku='red-t-shirt-123';
lineItem.quantity=1;
lineItem.amountIncludingTax=3.50;
lineItem.type={{packageName}}.model.LineItemType.PRODUCT;

// default transaction for tests
let transaction: {{packageName}}.model.TransactionCreate = new {{packageName}}.model.TransactionCreate();
transaction.lineItems=[lineItem];
transaction.autoConfirmationEnabled=true;
transaction.currency='EUR';

describe('TransactionPaymentPageService', () => {
    describe('paymentPageUrl', () => {
        it('expect a string', function(done) {
            transactionService.create(spaceId, transaction).then(function (response) {
                let transactionCreate: {{packageName}}.model.Transaction = response.body;
                transactionPaymentPageService.paymentPageUrl(spaceId, <number> transactionCreate.id).then(function (response) {
                    let pageUrl: string = response.body;
                    expect(pageUrl).to.be.a('string');
                    done();
                });
            });
        });
    });
});


describe('PaymentMethodService', () => {
    describe('all', () => {
        it('Should count payment methods to be greater than one', function(done) {
            paymentMethodService.all().then(function (response) {
                let variable: Array<{{packageName}}.model.PaymentMethod> = response.body;
                expect(variable.length).to.greaterThan(0);
                done();
            });
        });
    });
});

describe('TransactionService', () => {

    describe('count', () => {
        it('Should count 1 transaction', function(done) {
            transactionService.create(spaceId, transaction).then(function (response) {
                let transactionCreate: {{packageName}}.model.Transaction = response.body;
                let entityQueryFilter: {{packageName}}.model.EntityQueryFilter = new {{packageName}}.model.EntityQueryFilter();
                entityQueryFilter.fieldName = 'id';
                entityQueryFilter.value = transactionCreate.id;
                entityQueryFilter.type = {{packageName}}.model.EntityQueryFilterType.LEAF;
                entityQueryFilter.operator = {{packageName}}.model.CriteriaOperator.EQUALS;
                transactionService.count(spaceId, entityQueryFilter).then(function (response) {
                    let transactionCount: number = response.body;
                    expect(transactionCount).to.equal(1);
                    done();
                });
            });
        });
    });

    describe('create', () => {
        it('transaction.state should be an instance of TransactionState', function(done) {
            transactionService.create(spaceId, transaction).then(function (response) {
                let transactionCreate: {{packageName}}.model.Transaction = response.body;
                expect(transactionCreate.state).to.equal({{packageName}}.model.TransactionState.PENDING);
                done();
            });
        });
    });

    describe('read', () => {
        it('transaction.state should be an instance of TransactionState', function (done) {
            transactionService.create(spaceId, transaction).then(function (response) {
                let transactionCreate: {{packageName}}.model.Transaction = response.body;
                transactionService.read(spaceId, <number>transactionCreate.id).then(function (response) {
                    let transactionRead = response.body;
                    expect(transactionRead.state).to.equal({{packageName}}.model.TransactionState.PENDING);
                    done();
                });
            });
        });
    });

    describe('search', () => {
        it('transaction.state should be an instance of TransactionState', function (done) {
            transactionService.create(spaceId, transaction).then(function (response) {
                let transactionCreate: {{packageName}}.model.Transaction = response.body;
                let entityQueryFilter: {{packageName}}.model.EntityQueryFilter = new {{packageName}}.model.EntityQueryFilter();
                entityQueryFilter.fieldName = 'id';
                entityQueryFilter.value = transactionCreate.id;
                entityQueryFilter.type = {{packageName}}.model.EntityQueryFilterType.LEAF;
                entityQueryFilter.operator = {{packageName}}.model.CriteriaOperator.EQUALS;
                let entityQuery = new {{packageName}}.model.EntityQuery();
                entityQuery.filter = entityQueryFilter;
                transactionService.search(spaceId, entityQuery).then(function (response) {
                    let transactionSearch: Array<{{packageName}}.model.Transaction> = response.body;
                    transactionSearch.forEach(function (entry) {
                        expect(entry.state).to.equal({{packageName}}.model.TransactionState.PENDING);
                    });
                    done();
                });
            });
        });
    });

    describe('update', () => {
        it('transactionUpdate.language should equal to en-US', function (done) {
            transactionService.create(spaceId, transaction).then(function (response) {
                let transactionCreate: {{packageName}}.model.Transaction = response.body;
                transactionCreate.language = 'en-US';
                transactionService.update(spaceId, <{{packageName}}.model.TransactionPending> transactionCreate).then(function (response) {
                    let transactionUpdate: {{packageName}}.model.Transaction = response.body;
                    expect(transactionUpdate.language).to.equal('en-US');
                    done();
                });
            });
        });
    });

});