'use strict';
import localVarRequest = require('request');
import http = require('http');
import Promise = require('bluebird');

let defaultBasePath = '{{{basePath}}}';

let enumsMap: {[index: string]: any} = {
    {{#models}}
        {{#model}}
            {{#hasEnums}}
                {{#vars}}
                    {{#isEnum}}
        {{#isContainer}}"{{classname}}.{{enumName}}": {{classname}}.{{enumName}}{{/isContainer}}{{#isNotContainer}}"{{datatypeWithEnum}}": {{datatypeWithEnum}}{{/isNotContainer}},
                    {{/isEnum}}
                {{/vars}}
            {{/hasEnums}}
        {{/model}}
    {{/models}}
}

let typeMap: {[index: string]: any} = {
    {{#models}}
        {{#model}}
    "{{classname}}": {{classname}},
        {{/model}}
    {{/models}}
}
