{{#models}}{{#model}}import { {{classname}} as {{classname}}_Type } from "./src/models/{{classname}}";
{{/model}}{{/models}}
{{#apiInfo}}{{#apis}}{{#operations}}import { {{classname}} as {{classname}}_Type } from "./src/api/{{classname}}";
{{/operations}}{{/apis}}{{/apiInfo}}

export interface {{packageName}}ModelTypes {
    {{#models}}{{#model}}{{classname}}?: {{classname}}_Type;
    {{/model}}{{/models}}
}

export interface {{packageName}}APITypes {
    {{#apiInfo}}{{#apis}}{{#operations}}{{classname}}?: {{classname}}_Type;
    {{/operations}}{{/apis}}{{/apiInfo}}
}

export interface {{packageName}}Type {
    model?: {{packageName}}ModelTypes;
    api?: {{packageName}}APITypes;
}

let {{packageName}}Module: {{packageName}}Type = {
    model: {
        {{#models}}{{#model}}{{classname}}: require("./src/models/{{classname}}"),
        {{/model}}{{/models}}
    },
    api: {
        {{#apiInfo}}{{#apis}}{{#operations}}{{classname}}: require("./src/api/{{classname}}"),
        {{/operations}}{{/apis}}{{/apiInfo}}
    }
};

export namespace {{packageName}} {
    export namespace model {
        {{#models}}{{#model}}export type {{classname}} = {{classname}}_Type;
        {{/model}}{{/models}}
    }
    export namespace api {
        {{#apiInfo}}{{#apis}}{{#operations}}export type {{classname}} = {{classname}}_Type;
        {{/operations}}{{/apis}}{{/apiInfo}}
    }
}

module.exports = {{packageName}}Module;
